/* styles.css */
/*.product-slideshow {
    
    overflow: hidden;
}

.product-image {
    transition: opacity 1s ease, z-index 0s 0.5s;
    opacity: 0.8;
    z-index: 1;
}

.product-image img {   
    width: 100%;
    display: block;
}

.product-image.active {
    opacity: 10;
    z-index: 2;
    transition: opacity 0.5s ease, z-index 0s 0;

}
